.Experience-wrapper {
    height: 450px;
    width: 550px;

    display: grid;
    grid-template-rows: 1fr 4fr;
    row-gap: .5rem;
}

.Experience-wrapper .title-section {
    display: flex;
    align-items: center;
    position: relative;
}

.tab-container {
    margin-right: 2rem;
}

#adventurer {
    height: 60px;
    width: auto;
    position: absolute; 
    right: 20%;
}

.timeline-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: .5rem;
}

.timeline-picker {
    border-left: var(--border);
    padding: 1rem 0;
}

.timeline {
    height: 30px;
    padding: .3rem 0;
    padding-left: 1.5rem;
    width: 100%;
    position: relative;
}

.timeline:not(:last-child) {
    margin-bottom: 3rem;
}

.timeline .time {
    cursor: pointer;
    font-weight: 600;
    font-size: .8rem;
    transition: .5s ease;
}

.timeline .marker {
    height: 100%;
    width: 10px;
    border: var(--border);
    background-color: var(--main-color);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: -6px;
}

.Experience-wrapper .container {
    padding: .8rem 1rem;
    display: flex;
    flex-direction: column;
}

#timeline-info .title {
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
}

#timeline-info .title .place {
    margin-left: 5px;
    color: var(--main-color);
}

#timeline-info .period {
    margin-top: .3rem;
    font-weight: 600;
    font-size: .7rem;
}

#timeline-info .info {
    margin-top: 1rem;
    flex: 1;
}

.detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: center;
}

.detail:not(:last-child) {
    margin-bottom: 1rem;
}

.detail-tab {
    margin: auto 0;
    height: 10px;
    width: 30px;
    border: var(--border);
    border-radius: 2px;
    background-color: var(--shade-color-dark);
}

.detail-text {
    font-size: .7rem;
}